:root {
  --primary-main: red;
  --primary-light: #595486;
  --primary-lighter: #c0bae6;
  --primary-dark: #171531;
  --primary-darker: #0a0920;
  --primary-contrast: white;

  --secondary-main: #6b6f82;
  --secondary-light: #bebebe; // template border color
  --secondary-lighter: #222323; //dialog content background
  --secondary-dark: #6b7280; // label text color
  --secondary-darker: #4b9163;
  --secondary-contrast: black;
}
